/*
general styles
*/
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    font-size: 13px;
}

input[type="text"] {
    width: 160px;
    border: 1px solid deepskyblue;
    border-radius: 3px;
}

ul {
    text-align: left;
    margin: 0 0 0 -40px;
    list-style: none;
}

/*
autocomplete
*/
.autocomplete {
    width: 160px;
    display: inline-block;
}
.autocomplete ul li {
    padding: 5px;
}

.autocomplete ul li:hover, .autocomplete ul li.hover {
    background: rgba(0, 191, 255, 0.3);
}

.autocomplete_input {
}

.autocomplete .items {
    display: block;
    width: 160px;
    border: 1px solid deepskyblue;
    border-top: 0;
    border-radius: 0 0 3px 3px;
    position: absolute;
    z-index: 999;
    background-color: #ffffff;
    text-align: center;
    max-height: 70%;
    overflow-y: auto;
}

.autocomplete_item {
    line-height: 20px;
}

.autocomplete_item.ng-move,
.autocomplete_item.ng-enter,
.autocomplete_item.ng-leave {
    transition: all linear 0.2s;
}

.autocomplete_item.ng-leave.ng-leave-active,
.autocomplete_item.ng-move,
.autocomplete_item.ng-enter {
    opacity: 0;
    max-height: 0;
}

.autocomplete_item.ng-leave,
.autocomplete_item.ng-move.ng-move-active,
.autocomplete_item.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 20px;
}

/*
notifications styles
*/
div.notifications {
    border: 1px solid deepskyblue;
    border-radius: 5px;
    padding: 0 10px 10px 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    background: rgba(0, 0, 0, 0.3);

    transition: all 0.2s linear;
}

div.notifications.ng-hide-add, div.notifications.ng-hide-remove {
    display: block !important;
    opacity: 1;
}

div.notifications.ng-hide {
    opacity: 0;
}

div.notifications li {
    color: #FFFFFF;
    font-size: 20px;
    padding-top: 10px;
}

/*
left menu styles
*/
div.left_menu_container {
    float: left;
    height: 100%;
}

div.left_menu {
    float: left;
    position: relative;
    width: 200px;
    height: 95%;
    left: 0;
    text-align: center;
    padding-top: 20px;

    transition: all 0.2s linear;
}

div.left_menu.ng-hide-add, div.left_menu.ng-hide-remove {
    display: block !important;
}

div.left_menu.ng-hide {
    width: 0;
    left: -200px;
}

div.left_menu_container .toggler_wrapper {
    height: 100%;
    width: 10px;
    float: left;
    border-right: 1px solid deepskyblue;
    box-shadow: 5px 0 5px -2px #888;
    position: relative;
    left: -10px;
}

div.left_menu_container .toggler_wrapper .toggler {
    position: absolute;
    width: 10px;
    height: 50px;
    background-color: deepskyblue;
    border-radius: 0 5px 5px 0;
    top: 45%;
    z-index: 999;
    margin-left: 10px;
}

/*
content
*/

div.content {
    float: left;
    /*width: 100%;*/
    height: 100%;
}

div.content .header {
    padding-top: 20px;
}

div.content .header .global_search {
    width: 500px;
}

/*
recently added
*/
div.recently_added {
    width: 1100px;
    height: 300px;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

div.recently_added .item {
    width: 200px;
    height: 300px;
    display: inline-flex;
    position: relative;
    white-space: normal;
    cursor: pointer;
    /*left: 0;*/
}

div.recently_added .item .image {
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

div.recently_added .item .image .title {
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
}

div.recently_added.movies .item .image {
    width: 150px;
    height: 225px;
    background-size: 150px 225px;
}

div.recently_added.shows .item .image {
    width: 150px;
    height: 84px;
    background-size: 150px 84px;
}

div.recently_added .arrow-next, div.recently_added .arrow-prev {
    width: 20px;
    font-size: 20px;
    font-weight: bold;
    top: 30%;
}

.item.ng-enter, .item.ng-leave {
    transition: all 0.3s linear;
}

.item.ng-enter {
    left: 1000px;
}

.item.ng-enter.ng-enter-active {
    left: 0;
}

.item.ng-leave {
    left: -980px;
}

.item.ng-leave.ng-leave-active {
    left: -2000px;
}

/*
movie modal
*/
.movie_modal .poster {
    display: inline-block;
    float: left;
    width: 400px;
}

.movie_modal .details {
    display: inline-block;
    float: left;
    padding-left: 20px;
    width: 450px;
}

.movie_modal .details .line:not(:first-child) {
    padding-top: 20px;
}

.movie_modal .details .title {
    font-weight: bold;
    font-size: 20px;
    color: #03a9ff;
}

.movie_modal .details div.label {
    width: 50px;
    font-weight: bold;
    display: table-cell;
}

.movie_modal .details div.value {
    padding-left: 20px;
    display: table-cell;
}

/*
modal styles
*/

.modal {
    transition: all 0.2s linear;
}

.modal.ng-hide-add, .modal.ng-hide-remove {
    display: block !important;
    opacity: 1;
}

.modal.ng-hide {
    opacity: 0;
}

.modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
}

.modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index: 10000;
    position: absolute;
    width: 50%; /* Default */

    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}

.modal-dialog-content {
    padding: 10px;
    text-align: left;
}

.modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
}