/*
general styles
*/
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    font-size: 13px;
}

input[type="text"] {
    width: 160px;
    border: 1px solid deepskyblue;
    border-radius: 3px;
}

ul {
    text-align: left;
    margin: 0 0 0 -40px;
    list-style: none;
}

div.view {
    height: 100%;
    overflow: auto;
    padding-top: 50px;
}

div.main {
    width: 100%;
    height: 93%;
    display: table;
}

div.left_menu_container {
    height: 100%;
    display: table-cell;
    position: fixed;
}

div.content {
    display: table-cell;
    /*width: 85%;*/
    height: 100%;
    vertical-align: top;
    /*padding-left: 220px;*/

    transition: padding-left linear 0.2s;
    -webkit-transition: padding-left linear 0.2s;
}


/*
autocomplete
*/
.autocomplete {
    width: 160px;
    display: inline-block;
}
.autocomplete ul li {
    padding: 5px;
}

.autocomplete ul li:hover, .autocomplete ul li.hover {
    background: rgba(0, 191, 255, 0.3);
}

.autocomplete_input {
}

.autocomplete .items {
    display: block;
    width: 160px;
    border: 1px solid deepskyblue;
    border-top: 0;
    border-radius: 0 0 3px 3px;
    position: absolute;
    z-index: 999;
    background-color: #ffffff;
    text-align: center;
    max-height: 500px;
    overflow-y: auto;
}

.autocomplete_item {
    line-height: 20px;
}

.autocomplete_item.ng-move,
.autocomplete_item.ng-enter,
.autocomplete_item.ng-leave {
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
}

.autocomplete_item.ng-leave.ng-leave-active,
.autocomplete_item.ng-move,
.autocomplete_item.ng-enter {
    opacity: 0;
    max-height: 0;
}

.autocomplete_item.ng-leave,
.autocomplete_item.ng-move.ng-move-active,
.autocomplete_item.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 20px;
}

/*
notifications styles
*/
div.notifications {
    border: 1px solid deepskyblue;
    border-radius: 5px;
    padding: 0 10px 10px 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;

    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

div.notifications.ng-hide-add, div.notifications.ng-hide-remove {
    display: block !important;
    opacity: 1;
}

div.notifications.ng-hide {
    opacity: 0;
}

div.notifications li {
    color: #FFFFFF;
    font-size: 20px;
    padding-top: 10px;
}

/*
left menu styles
*/
div.left_menu {
    float: left;
    position: relative;
    width: 200px;
    height: 95%;
    left: 0;
    text-align: center;
    padding-top: 20px;

    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

div.left_menu.ng-hide-add, div.left_menu.ng-hide-remove {
    display: block !important;
}

div.left_menu.ng-hide {
    width: 0;
    left: -200px;
}

div.left_menu_container .toggler_wrapper {
    height: 100%;
    width: 10px;
    float: left;
    border-right: 1px solid deepskyblue;
    box-shadow: 5px 0 5px -2px #888;
    position: relative;
    left: -10px;
}

div.left_menu_container .toggler_wrapper .toggler {
    position: absolute;
    width: 10px;
    height: 50px;
    background-color: deepskyblue;
    border-radius: 0 5px 5px 0;
    top: 45%;
    z-index: 999;
    margin-left: 10px;
}

div.left_menu .left_menu_space{
    height: 40px;
}

div.left_menu .left_menu_item{
    width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

div.left_menu .left_menu_item div{
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: deepskyblue;
    transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;

}

div.left_menu .left_menu_item div.selected,
div.left_menu .left_menu_item div:hover{
    background: rgba(0, 0, 0, 0.3);
}

/*
content
*/

div.content .header {
    width: 100%;
    height: 50px;
    padding-top: 20px;
    position: fixed;
    z-index: 2;
    background-color: #ffffff;
}

div.content .header .global_search {
    width: 500px;
}

/*
recently added
*/
div.recently_added {
    height: 300px;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

/*
movies page
*/
div.movies_list {
    vertical-align: middle;
    position: relative;
    display: block;
}

/*
lists
*/

div.items_list .item {
    width: 200px;
    height: 300px;
    display: inline-flex;
    position: relative;
    white-space: normal;
    cursor: pointer;
    /*left: 0;*/
}

div.items_list .item.ng-enter, div.items_list .item.ng-leave {
    transition: transform 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
}

div.items_list .item.ng-enter {
    transform: scale(0);
    -webkit-transform: scale(0);
}

div.items_list .item.ng-enter.ng-enter-active {
    transform: scale(1);
    -webkit-transform: scale(1);
}


div.items_list .item .image {
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    -webkit-transition: box-shadow 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

div.items_list .item .image:hover{
    box-shadow: 4px 4px 4px #000;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

div.items_list .item .image .title {
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
}

div.items_list .item .image {
    width: 150px;
    height: 225px;
    background-size: 150px 225px;
}

/*div.items_list.movies .item .image {*/
    /*width: 150px;*/
    /*height: 225px;*/
    /*background-size: 150px 225px;*/
/*}*/

/*div.items_list.shows .item .image {*/
    /*width: 150px;*/
    /*height: 84px;*/
    /*background-size: 150px 84px;*/
/*}*/

/*
movie modal
*/
.movie_modal .poster {
    display: inline-block;
    float: left;
    width: 400px;
}

.movie_modal .details {
    display: inline-block;
    float: left;
    padding-left: 20px;
    width: 450px;
}

.movie_modal .details .line:not(:first-child) {
    padding-top: 20px;
}

.movie_modal .details .title {
    font-weight: bold;
    font-size: 20px;
    color: #03a9ff;
}

.movie_modal .details div.label {
    width: 50px;
    font-weight: bold;
    display: table-cell;
}

.movie_modal .details div.value {
    padding-left: 20px;
    display: table-cell;
}

/*
modal styles
*/

.modal {
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.modal.ng-hide-add, .modal.ng-hide-remove {
    display: block !important;
    opacity: 1;
}

.modal.ng-hide {
    opacity: 0;
}

.modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
}

.modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index: 10000;
    position: absolute;
    width: 50%; /* Default */

    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}

.modal-dialog-content {
    padding: 10px;
    text-align: left;
}

.modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
}