<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="css/xbmc.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/lib/angular.js"></script>
    <script type="text/javascript" src="js/lib/angular-route.js"></script>
    <script type="text/javascript" src="js/lib/angular-resource.js"></script>
    <script type="text/javascript" src="js/lib/angular-animate.js"></script>
    <script type="text/javascript" src="js/lib/jszip.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/settings.js"></script>
    <script type="text/javascript" src="js/settings_local.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/filters.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/init.js"></script>
</head>
<body data-ng-controller="MainController">

<div class="notifications" data-ng-controller="NotificationController" data-ng-show="notifications.length>0">
    <ul>
        <li data-ng-repeat="notification in notifications">{{ notification.msg }}</li>
    </ul>
</div>

<div class="left_menu_container" data-ng-controller="LeftMenuController">
    <div class="left_menu" data-ng-show="show">
        <div class="autocomplete" data-auto-complete data-items="commands" data-placeholder="Commands" data-tabindex="1" data-on-select="run_command" data-local-filter="true">
            {{ item.name }}
        </div>
    </div>
    <div class="toggler_wrapper"><div class="toggler" data-ng-click="show=!show"></div></div>
</div>
<div class="content">
    <div class="header">
        <div class="autocomplete" data-auto-complete data-items="search_results" data-on-search="search" data-placeholder="Global search" data-tabindex="2" data-on-select="select_item" data-width="700px" data-base-url="HOST">
            <div style="display: table-cell;"><img src="http://{{ base_url }}:8080/image/{{ item.thumbnail | encode }}" width="50"></div>
            <div style="display: table-cell; vertical-align: top; padding-left: 10px;">
                {{ item.title }}
                <br />
                <span data-ng-if="item.season">
                    latest episode: {{ item.latest_season | leading_zero }}x{{ item.latest_episode | leading_zero }}
                    <br />
                    Search for next on:
                    <a href="http://torrentleech.org/torrents/browse/index/query/{{ item.title }} s{{ item.latest_season | leading_zero }}e{{ item.latest_episode+1 | leading_zero }}" target="_blank">torrenleach</a>
                    <a href="http://torrentz.eu/search?f={{ item.title }} s{{ item.latest_season | leading_zero }}e{{ item.latest_episode+1 | leading_zero }}" target="_blank">torrentz</a>
                </span>
            </div>
        </div>
    </div>
    <div class="view" data-ng-view></div>
</div>

<div class="movie_modal" data-modal-dialog data-show="$root.movie_details_show" data-width="1000px" data-height="700px" data-on-open="get_movie_details()" data-on-close="clean_movie_details()">
    <div class="poster"><img src="http://{{ HOST }}:8080/image/{{ movie_details.art.poster | encode }}" width="400"/></div>
    <div class="details">
        <div class="line title">{{ movie_details.title }}</div>
        <div class="line">
            <div class="label">Plot: </div>
            <div class="value">{{ movie_details.plot }}</div>
        </div>
        <div class="line">
            <div class="label">IMDB: </div>
            <div class="value"><a href="http://www.imdb.com/title/{{ movie_details.imdbnumber }}" target="_blank">{{ movie_details.imdbnumber }}</a></div>
        </div>
        <div class="line trailer">
            <iframe width="560" height="315" src="{{movie_details.trailer_url}}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

</body>
</html>