<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="css/xbmc.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="main" data-ng-controller="MainController">

    <div data-notifications class="notifications">
        <div class="close" data-ng-click="dismiss()">X</div>
        <ul>
            <li data-ng-repeat="notification in notifications" data-ng-bind-html="notification.msg" class="item"></li>
        </ul>
    </div>

    <div data-ng-include="'views/left.html'"></div>

    <div class="content" data-ng-style="content_style">
        <div data-ng-include="'views/header.html'"></div>
        <div class="view" data-ng-view></div>
    </div>

    <div class="movie_modal" data-modal-dialog data-show="$root.movie_details_show" data-height="90%" data-width="80%" data-on-open="get_movie_details()" data-on-close="clean_movie_details()">
        <div class="poster"><img src="http://{{ HOST }}:8080/image/{{ movie_details.art.poster | encode }}" width="350"/></div>
        <div class="details">
            <div class="line title">{{ movie_details.title }}</div>
            <div class="line">
                <div class="label">Plot: </div>
                <div class="value">{{ movie_details.plot }}</div>
            </div>
            <div class="line">
                <div class="label">IMDB: </div>
                <div class="value"><a href="http://www.imdb.com/title/{{ movie_details.imdbnumber }}" target="_blank">{{ movie_details.imdbnumber }}</a></div>
            </div>
            <div class="line trailer">
                <iframe width="560" height="315" data-ng-src="{{movie_details.trailer_url}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="js/lib/angular.js"></script>
<script type="text/javascript" src="js/lib/angular-route.js"></script>
<script type="text/javascript" src="js/lib/angular-resource.js"></script>
<script type="text/javascript" src="js/lib/angular-animate.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/settings.js"></script>
<script type="text/javascript" src="js/settings_local.js"></script>
<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/filters.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/directives.js"></script>
<script type="text/javascript" src="js/init.js"></script>

</body>
</html>