<div data-ng-controller="HomeController">
    <div class="items_list recently_added movies">
        <div class="item {{ direction }}" data-ng-repeat="movie in recent_movies" data-ng-click="$root.movieid=movie.movieid; $root.movie_details_show = true;">
            <div class="image" style="background-image: url('http://{{ HOST }}:8080/image/{{ movie.thumbnail | encode }}')">
                <div class="title">{{ movie.title }}</div>
            </div>
        </div>
    </div>

    <div class="items_list recently_added shows">
        <div class="item" data-ng-repeat="episode in recent_episodes">
            <div class="image" style="background-image: url('http://{{ HOST }}:8080/image/{{ episode.thumbnail | encode }}')">
                <div class="title">{{ episode.showtitle }} ({{ episode.label }})</div>
            </div>
        </div>
    </div>
</div>