<div class="main_content">
    <div class="items_list movies_list">
        <a class="item regular" href="#!/shows/{{ show.tvshowid }}" data-ng-repeat="show in shows | filter:{title:$root.shows_filter} | orderBy:'has_new_episode'">
                <div class="watched" data-ng-show="show.playcount > 0">&#10003;</div>
                <div class="cell image"><img src="http://{{ HOST }}:8080/image/{{ show.art.poster| encode }}" /></div>
                <div class="cell data">
                    <b>{{ show.title }}</b>
                    <br />
                    latest episode: {{ show.latest_season | leading_zero }}x{{ show.latest_episode | leading_zero }}
                    <div data-ng-if="show.next_aired">Next episode on <b>{{ show.next_aired.FirstAired }}</b></div>
                    <div data-ng-show="show.has_new_episode" data-links data-item="show"></div>
                </div>
        </a>
    </div>
</div>